@import "styles/variables.sass"

.logo
	display: flex
	flex-direction: row
	align-items: center
	font-size: $big-text-size
	position: relative
	margin-bottom: 0.25rem
	margin-right: 5rem
	cursor: pointer
	transition: color $default-transition-out-time ease-in-out

	&:hover
		transition: color $default-transition-in-time ease-in-out
		color: $accent-color
	 
	.logoTextWrapper
		position: relative
		.logoText
			position: absolute
			top: 0
			left: 0
			